<% @contacts.each do |contact| %>
  <h2><%= contact.full_name %></h2>
  <h5><%= contact.email %></h5>
  <h5><%= contact.phone_number %></h5>
  <a href="/contacts/<%= contact.id %>">More info</a>
<% end %>